.home {
  font-family: 'Ubuntu', sans-serif;
  background: url("../../images/background3-cropped(3).jpg") no-repeat center;
  background-size: cover; /* covers the whole screen */
  background-attachment: fixed; /* fixes its position */

  display: flex;
  height: 100vh;
  /* z-index: 1; */
}

.home:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  
  /* background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.9) 100%),
    linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, transparent 100%); */

  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0.8) 100%),
    linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, transparent 100%);
}

.home__content {
  z-index: 3;
  width: 100%;
  color: #FFF;
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.home__text-1 {
  font-size: 27px;
}

.home__text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.home__text-3 {
  font-size: 40px;
  margin: 5px 0;
  display: flex;
}

.home__span {
  margin-left: 8px;
  color: var(--color-primary);
}

.home__btnWrapper {
  margin-top: 20px;
  display: flex;
}

.home__btn {
  background: var(--color-primary);
  font-size: 24px;
  padding: 10px 32px;
  margin-top: 10px;
  font-weight: 500;
  border-radius: 6px;
  border: 2px solid var(--color-primary);
  transition: all 0.3s ease;
}

.home__btn:hover {
  color: var(--color-primary);
  background: none;
  cursor: pointer;
}