.contact {
  font-family: 'Ubuntu', sans-serif;
  min-height: 700px;
  padding: 100px 0px
}

.contact__content {
  display: flex;
  /* flex-wrap: wrap; */
  width: 100%;
  height: 100%;
}

.contact__title {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 80px;
}

.contact__columnLeft {
  width: 100%;
  margin-right: 70px;
}

.contact__columnRight {
  width: 100%;
}

.contact__title2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact__infoRow {
  display: flex;
  height: 65px;
  align-items: center;
  margin-top: 10px;
}

.contact__icon {
  font-size: 25px;
  color: var(--color-primary);
}

.contanct__infoDetails {
  margin-left: 30px;
}

.contact__infoDetailsTitle {
  margin-bottom: 7px;
}

.contact__text {
  text-align: justify;
  margin-bottom: 20px;
}

.contact__fields {
  display: flex;
  justify-content: center;
}

.contact__input {
  height: 100%;
  width: 100%;
  border: 1px solid lightgray;
  outline: none;
  padding: 10px 15px;
  border-radius: 7px;
  resize: none;

  font-size: 17px;
  transition: all 0.3s ease;
  
  margin-bottom: 15px;
}

.contact__fieldName {
  height: 50px;
  width: 100%;
  margin-right: 20px;
  margin-bottom: 15px;
}

.contact__fieldEmail{
  height: 50px;
  width: 100%;
  margin-bottom: 15px;
}

.contact__fieldSubject{
  height: 50px;
  width: 100%;
  margin-bottom: 15px;
}

.contact__fieldTextarea{
  height: 80px;
  width: 100%;
  margin-bottom: 15px;
}

.contact__button {
  height: 47px;
  width: 170px;
}

.contact__button button {
  width: 100%;
  height: 100%;
  border: 2px solid var(--color-primary);
  background: var(--color-primary);
  color: #fff;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact__button button:hover {
  color: var(--color-primary);
  background: none;
}

@media (max-width: 768px) {
  .contact__content {
    flex-direction: column;
  }

  .contact__columnRight {
    margin-top: 50px;
  }
}